# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# 此段配置适用于所有文件类型
[*]
# 使用空格进行缩进，而非制表符
indent_style = space
# 每个层级的缩进大小为 4 个空格
indent_size = 4
# 行尾换行符使用 LF (Unix) 格式
end_of_line = lf
# 字符编码设置为 UTF-8
charset = utf-8
# 自动删除行尾的多余空格
trim_trailing_whitespace = false
# 在文件末尾自动添加新行
insert_final_newline = false
# 引用字符串默认使用单引号
quote_type = single